{% macro render(id, title, image, path) %}
    <div class="card mb-4">
        <img src="/../../storage/{{ image }}" class="card-img-top" alt="Imagem referente ao comprovante {{ title }}">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ path }}</p>
            <div class="d-flex justify-content-around align-items-center">
                <a href="/storage/{{ image }}" class="btn btn-sm btn-primary" target="_blank">Visualizar</a>
                <a href="/receipt/edit?id={{ id }}" class="btn btn-sm btn-secondary">Editar</a>
                <form action="/receipt/remove" method="post">
                    <input type="hidden" value="{{ id }}" name="id">
                    <button type="submit" class="btn btn-sm btn-danger">Remover</button>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}