{% macro render(title, date, requiredImage = true) %}
    {% import '@components/messageError.twig' as errorForm %}
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ title }}" required>
        {{ errorForm.render('title') }}
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Data do comprovante (opcional)</label>
        <input type="date" class="form-control" id="date" name="date" value="{{ date }}">
        {{ errorForm.render('date') }}
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Imagem do comprovante</label>
        <input class="form-control" type="file" id="image" name="image" {{ requiredImage ? "required" : "" }} accept="image/*">
        {{ errorForm.render('image') }}
    </div>
{% endmacro %}